@media all {
  .sign-wrapper {
    background: #E4EBFF;
  }
  .sign-container {
    margin: 0 auto;
    max-width: 1920px;
  }
  .signBody {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    background: url(/src/static/img/bg-small.jpg) no-repeat 0 0;
    background-size: contain;
    padding-top: 72px;
  }
  .signBarContainer {
    margin: 0 0 0 auto;
    min-height: calc(100vh - 72px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sign-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px 24px 0 0;
    background: #F9FAFF;
  }
  .sign-bar__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 24px;
  }
  .sign-bar__form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sign-bar__form {
    margin: 24px;
  }
  .sign-bar__input {
    border: 1px solid #DCE0EC;
    box-sizing: border-box;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
    border-radius: 8px;
    font-size: 15px;
    line-height: 138%;
    width: 100%;
    padding: 9px 47px;
    margin-bottom: 24px;
  }
  .sign-bar__input:focus {
    border-color: #7297FF;
    filter: drop-shadow(0px 4px 32px rgba(218, 228, 255 / 16%));
  }
  .sign-bar__input::placeholder {
    color: #A1ABC9;
  }
  .sign-bar__input_name-icon {
    background: url("/src/static/img/user-icon.svg") no-repeat;
    background-position-y: center;
    background-position-x: 18px;
  }
  .sign-bar__input_email-icon {
    background: url("/src/static/img/email-icon.svg") no-repeat;
    background-position-y: center;
    background-position-x: 18px;
  }
  .sign-bar__input_password-icon {
    background: url("/src/static/img/lock-icon.svg") no-repeat;
    background-position-y: center;
    background-position-x: 18px;
  }
  .sign-bar__input_confirm-password-icon {
    background: url("/src/static/img/check-icon.svg") no-repeat;
    background-position-y: center;
    background-position-x: 18px;
  }
  .sign-bar__input_icon-position {
    background-position-y: center;
    background-position-x: 18px;
  }
  .sign-bar__have-account {
    margin-top: auto;
    margin-right: auto;
    margin-left: 24px;
    padding-bottom: 44px;
    display: flex;
    align-items: flex-start;
  }
  .sign-bar__have-account {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    font-size: 15px;
    line-height: 140%;
    margin-top: auto;
    color: #A1ABC9;
  }
  .sign-bar__have-account_link {
    text-decoration-line: underline;
    color: #7297FF;
  }
  .sign-bar__text {
    font-size: 15px;
    line-height: 140%;
    color: #A1ABC9;
    margin-bottom: 24px;
  }
  .sign-bar__forgotPassword {
    margin-top: 32px;
  }
  .password-block {
    position: relative;
  }
  .password-block__eye-button {
    border: none;
    cursor: pointer;
    position: absolute;
    right: 7.2%;
    width: 20px;
    height: 20px;
    top: 10px;
  }
  .password-block__eye-button_show {
    background: url("/src/static/img/eye-icon.svg") no-repeat center;
    background-size: 20px;
  }
  .password-block__eye-button_hide {
    background: url("/src/static/img/eye-slash-icon.svg") no-repeat center;
    background-size: 20px;
  }
  .sign-button {
    font-weight: 600;
    color: #FFFFFF;
    padding: 14.5px;
  }
  .sign-button_style {
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    margin: 9px auto 0 0;
    color: white;
    background: url("/src/static/img/angle-right-b-icon.svg") no-repeat center right 22.29px #7297FF;
    border: none;
    border-radius: 8px;
    padding: 14px 48px 13px 16px;
  }
}
@media only screen and (min-width: 600px) {
  .signBody {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    background: url(/src/static/img/bg.jpg) no-repeat 0 0;
    background-size: cover;
    padding-top: 0;
    right: auto;
  }
  .signBarContainer {
    min-height: 100vh;
    max-width: 560px;
  }
  .sign-bar {
    border-radius: 0;
  }
  .sign-bar__form-container {
    margin: auto;
  }
  .sign-bar__form {
    margin: auto 96px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .sign-bar__input {
    line-height: 140%;
    font-size: 17px;
    padding: 16px 63px;
    margin-bottom: 40px;
  }
  .sign-bar__have-account {
    margin: 24px 96px;
  }
  .password-block__eye-button {
    top: 18px;
  }
}
/*# sourceMappingURL=LoginStyles.css.map */